# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
myvenv/
venv/   
ENV/
env/

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.coverage
*.DS_Store
media/
staticfiles/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
Thumbs.db
.DS_Store

# Byte-compiled / cache files
*.egg-info/
*.egg
.eggs/
dist/
build/

# Misc
*.myvenv
